[package]
name = "jay"
version = "0.1.0"
edition = "2021"
build = "build/build.rs"

[workspace]
members = ["jay-config", "default-config"]

[profile.release]
panic = "abort"

[profile.dev]
panic = "abort"

[dependencies]
uapi = "0.2.9"
thiserror = "1.0.30"
ahash = "0.7.6"
log = { version = "0.4.16", features = ["std"] }
futures-util = "0.3.19"
num-traits = "0.2.14"
num-derive = "0.3.3"
bitflags = "1.3.2"
libloading = "0.7.2"
bstr = { version = "0.2.17", default-features = false, features = ["std"] }
isnt = "0.1.0"
once_cell = "1.9.0"
rand = "0.8.4"
smallvec = { version = "1.8.0", features = ["const_generics", "const_new", "union"] }
byteorder = "1.4.3"
bincode = "2.0.0-rc.1"
jay-config = { path = "jay-config" }
default-config = { path = "default-config" }
pin-project = "1.0.10"
clap = { version = "3.1.6", features = ["derive", "wrap_help"] }
clap_complete = "3.1.1"
humantime = "2.1.0"
dirs = "4.0.0"
backtrace = "0.3.64"

[build-dependencies]
repc = "0.1.1"
anyhow = "1.0.52"
bstr = { version = "0.2.17", default-features = false, features = ["std"] }

#[profile.dev.build-override]
#opt-level = 3

[features]
rc_tracking = []
